 html body {
    height: 100%;
    margin: 0;
    font-family: Arial,sans-serif;
    font-size: 14px;
    
}
.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin:0px;
    padding:0 15px;
    
    
}
a {
    margin: 5px;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

a:hover {
    text-decoration: underline;
}
  

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}
.content {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 550px;
    height: 25px;
    border: 1px solid gainsboro;
    border-radius: 25px;
    cursor: pointer;
}
.content input {
    flex-grow: 1;
    border: none;
    outline: none;
}
.my-buttons {
    padding-top: 30px;

}
button {
    border: none;
    background-color: #f8f9fa;
    height: 40px;
    padding: 0 15px;
    margin: 0 10px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 1px 1px #dadce0;
    border: 1px solid #dadce0;
    
}
footer {
    background-color: #f2f2f2;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 320px;
    padding-right: 20px;
    word-spacing: 15px;
   
}
footer a {
    color: #70757a ;
}